@model Taak



<div class=" d-flex align-content-center justify-content-sm-center" style="margin-top:20px;">
    <form class="d-flex flex-column w-50 justify-content-sm-center" method="post">
        <h1 class="text-center text-body" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">TO DO LIST</h1>
        @* <div asp-validation-summary="All"></div> *@
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" id="title" type="text" placeholder="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
        <label asp-for="Description">beschrijving</label>
        <textarea  asp-for=Description class="form-control" id="beschrijving" placeholder="beschrijving"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
        <input class="btn btn-success btn" type="submit" name="versturen" value="Versturen" asp-controller="Task" asp-action="Create" style="top:20px" />
        <a class="btn btn-primary" style="position:relative; bottom:-40px;" asp-controller="Home" asp-action="Index">Terug naar overzicht</a>
    </form>
</div>
@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

